*{
  color: #ccc;
}
html, body {
  align-items: center;
  background: #333;
  display:flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
}
canvas {
  display: block;
}

